/* font-family: 'DM Sans', sans-serif; */
/* font-family: 'Mulish', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #19191b;
  background-color: #fff;
  font-family: 'Mulish', sans-serif;
}

.container {
  width: 1100px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-row {
  justify-content: space-between;
  align-items: center;
}

h1 {
  display: none;
}

/* HEADER START */
.site-header {
  padding-top: 30px;
}

.nav-list {
  list-style: none;
}
.nav-item:not(:last-child) {
  margin-right: 49px;
}
.nav-link {
  color: #696871;
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
  line-height: 18px;
  text-transform: capitalize;
}
.nav-item.activ {
  padding-bottom: 12px;
  border-bottom: 2px solid #5454D4;
}
.nav-item.activ .nav-link {
  color: #19191b;
}
.btn {
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
  line-height: 18px;
  text-transform: capitalize;
  border-radius: 10px;
}
.btn-started {
  padding: 20px 60px;
  background: #FF7143;
  color: #fff;
}
/*  HEADER END */

/* hero-content */

.hero-content {
  padding-top: 111px;
}
.hero-desc {
  width: 460px;
} 
.hero-title {
  font-family: 'DM Sans', sans-serif;
  font-size: 80px;
  line-height: 77px;
  font-weight: 700;
  letter-spacing: -2.5px;
  margin-bottom: 30px;
}

.text {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.6px;
  color: #696871;
}

.hero-text {
  margin-bottom: 50px;
}

.hero-link {
  padding: 20px 60px;
  background: #5454D4;
  color: #fff;
  margin-right: 40px;
}
.hero-btns  {
  align-items: center;
}
.hero-btns > * {
  cursor: pointer;
}
.hero-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #e7e7e7;
  background-color: transparent;
}

.hero-btn .bx {
  font-size: 40px;
  font-weight: 300;
}

.hero-row {
  justify-content: space-between;
  align-items: center;
}

.hero-img {
  position: relative;
  left: 105px;
  top: 20px;
}